button{
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 100%;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button:hover{
  border-radius: 4px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 120%;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

/* Style the header */
header {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  font-size: 200%;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
#buttons{
  margin-top: 5%;
}
/* Clear floats after the columns */

section:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the footer */
.home_logo{
  alignment: left;
}

.home_logo{
  float: left;
}
